.headerSearch{
    position: relative;
    max-width: 205px;
    border: none;
    input{
        max-width: 204px;
        padding: 11px 16px;
        border-radius: 20px;
        font-size: 12px;
        border: 1px solid #999;
        background: transparent;
    }
    .searchIcon{
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-95%,-50%);
    }
}