.book {
  margin-top: 126px;
}
.book .bookBanner {
  margin: 0 16px;
}
.book .bookBanner .bookBanner_Icon {
  height: 125px;
  background-color: #2e8b57;
}
.headerSearch {
  position: relative;
  max-width: 205px;
}
.headerSearch input {
  max-width: 204px;
  padding: 11px 16px;
  border-radius: 20px;
  font-size: 12px;
  border-color: #999999;
  background: transparent;
}
.headerSearch .searchIcon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-95%, -50%);
}